body {
  background-color: lightblue;
  font-family: "Courier New", Courier, monospace;
}
h1,
h2,
h3 {
  text-align: center;
  color: red;
}
p {
  color: green;
  text-align: justify;
  text-indent: 30px;
}
.sushi-list-item {
  color: blue;
  list-style-type: square;
}
.pasta-list-item {
  color: chocolate;
  list-style-type: circle;
}
div {
  display: flex;
}
#sushi-preparation {
  color: indigo;
  font-style: italic;
}
div p {
  color: rgb(173, 62, 131);
  font-weight: bolder;
}
img {
  margin-right: 50px;
}
